.header {
  border-bottom: 1px solid #ececec;
}
.wrapper-content {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
    padding: 12px;
  }
  // @media screen and (min-width: 768px) {
  //   display: flex;
  // }
}
