.pege-header {
  position: relative;
}
.mobile-menu {
  @media screen and (max-width: 767px) {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    z-index: 4;
    background-color: $secondary-bg-color;

    padding: 48px 40px;
    &.is-open {
      display: block;
      @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
}

.page-header__button {
  border: none;
  cursor: pointer;
  z-index: 5;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon-cross {
  fill: #000000;
  transition: fill $timing $timing-function;

  .page-header__button:hover &,
  .page-header__button:focus & {
    fill: $accen-color;
  }

  .page-header__button & {
    display: none;
  }

  .page-header__button.is-open & {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon-menu {
  fill: #000000;
  transition: fill $timing $timing-function;

  .page-header__button:hover &,
  .page-header__button:focus & {
    fill: $accen-color;
  }

  .page-header__button.is-open & {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-networks {
  @media screen and (min-width: 768px) {
    display: none;
  }
  margin-top: 64px;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accen-color;
    margin: 10px;
  }
  &__link {
    color: inherit;
    text-decoration: none;

    margin-right: 10px;
  }
}
.header-networks__item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 1px;
  height: 24px;
  margin-right: 10px;
  border: none;
  background-color: rgba(33, 33, 33, 0.2);
}
